<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>FK belépés</title>
</head>
<body>
<div align="center">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>Felhasználó:</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Jelszó:</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

</body>
</html>