@charset "utf-8";
#header {
    border-style: dotted;
    width: auto;
    height: 100px;
}
#wrapper {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
body {
    background-color: #E0E0E0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}
#nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    list-style-type: none;
    border-bottom: thin solid #5F5F5F;
    color: #4C4C4C;
    left: 0px;
    list-style-position: inside;
    margin-left: -10px;
}
#nav li a {
    text-decoration: none;
}
#leftsidebar {
    width: 330px;
    height: 350px;
    float: left;
}
#main {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
}