{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>FK</title>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <header id="header">
        <h1>FK</h1>
        <h3>felhasználó: {{ user.get_full_name }}</h3>
    </header>
    <aside id="leftsidebar">
        <nav id="nav">
            {% if perms.fk.can_add_new_issue %}
                <ul>
                    <li><a href="/newissue">Új ügy felvétele</a></li>
                    <li><a href="/opened">Nyitott</a></li>
                    <li><a href="/suspended">Felfüggesztett</a></li>
                    <li><a href="/petition">Felterjesztett</a></li>
                    <li><a href="/department">Osztályos</a></li>
                    <li><a href="/closed">Lezárt</a></li>
                    <li><a href="/late">Lejáró</a></li>
                    <li><a href="/logout">Kilépés</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="/opened">Nyitott</a></li>
                    <li><a href="/suspended">Felfüggesztett</a></li>
                    <li><a href="/petition">Felterjesztett</a></li>
                    <li><a href="/department">Osztályos</a></li>
                    <li><a href="/closed">Lezárt</a></li>
                    <li><a href="/late">Lejáró</a></li>
                    <li><a href="/logout">Kilépés</a></li>
                </ul>
    {% endif %}
        </nav>
    </aside>
    <section id="main">
        {% block content %}

        {% endblock %}
    </section>
</div>
</body>
</html>